@import url(../../common.css);

body {
  font-size: 18px;
  background: gray;
}

#wrapper {
  background: #fff;
  font-family: '굴림', serif;
  width: 1500px;
  margin: 0 auto 0;
}

.container .side-menu {
  float: left;
  width: 25%;
}

.container .main-content {
  float: left;
  width: 55%;
}

.container .banner {
  padding: 10px;
  float: right;
  width: 20%;
}

header {
  background: orange;
  font-family: '굴림', serif;
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

header h1 {
  margin: 0 auto 0;
  padding: 10px;
  font-size: 8em;
  text-align: center;
}

#wrapper header h1 span {
  font-size: 18.9%;
  width: 100%;
  display: block;
}

#wrapper .stit {
  background: lightgray;
  font-size: 14px;
  text-align: center;
  padding: 5px 0;
}

.side-menu h3 {
  background: #800;
  color: #fff;
  font-family: '고딕', sans-serif;
  padding: 9px;
}

.side-menu ul {
  padding: 10px;
  line-height: 2;
  font-family: '굴림', serif;
}

.side-menu ul li a {
  font-weight: bold;
  text-decoration: underline;
}

.side-menu ul li a:hover {
color: blue;
}

.main-content {
  background: rgb(226, 226, 226);
  font-family: '굴림', serif;
}

.container .main-content .art-piece {
  margin-top: 10px;
  padding: 10px;
}

.title {
  background: #123456;
  color: #fff;
  padding: 10px 5px;
  font-weight: bold;
}

.title a:hover {
  color: yellow;
  font-size: 1.2em;
}

.artist {
  color: #123456;
  font-family: '굴림', serif;
  font-weight: bold;
  padding: 20px 0 0;
}

.detail {
  font-size: 70%;
  padding: 20px 0 0;
}

.banner h3 {
  line-height: 35px;
  font-family: '굴림', serif;
  font-size: 1.3em;
  padding: 10px 0px;
}

.banner h3 span {
  text-decoration: underline;
  display: block;
  font-weight: bold;
}

.banner .all{
  color: rgb(146, 146, 146);
}

.banner .love {
  color: orange;
  font-weight: bold;
}

.banner strong {
  font-weight: bold;
}

.link li {
  padding: 10px 0;
  font-size: 0.7em;
  line-height: 1.2;
  font-family: '굴림', serif;
}

.link li a { 
  text-decoration: underline;
  font-weight: bold;
  width: fit-content;
  display: block;
}

.link li a:hover {
  color: blue;
  font-size: 1em;
}

#wrapper footer {
  background: #123456;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 0.8em;
}

#wrapper footer a {
  text-decoration: underline;
}