@import url(../../common.css);

body {
  background: #666;
  font-size: 14px;
  color: #000;
  font-family: '굴림', serif;
}

body div {
  width: 70%;
  margin: 0 auto;
  background: #fff;
}

header {
  background: orange;
  padding: 10px;
  text-align: center;
}

header h1 {
  padding: 10px;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  font-family: 'jua', cursive;  
}

header h1 span {
  font-size: 0.3em;
}

.stit {
  background: lightgray;
  padding: 10px;
  font-size: 0.7em;
  text-align: center;
}

.container .side-menu {
  width: 33.33%;
  float: left;
}

.container .banner {
  width: 33.33%;
  float: right;
}

.container div {
  width: 33.33%;
}

.container .side-menu h3 {
  background: #800;
  color: #fff;
  padding: 3px;
}